*{
    box-sizing: border-box;
    margin:1em;
    font-family:sans-serif;
    margin-bottom: 0%;
}

.maincontainer{
    height: 43.95em;
}
.products, .cart{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
