.header {
    display: flex;
    align-items: center;
    min-height: 10vh;
    a,
    span {
        all: unset;
        cursor: pointer;
        padding:1.6em;
        color: black;
        font-family: sans-serif;
    }
.logout {
        cursor: pointer;
    }
.logo{
    margin: 1em;
}
.containerCard{
    background-color: chartreuse;
    height: 3em;
    width: 3.5em;
    margin-left: 60em;    
}
.card{
    background-image: url(../../img/cart.png);
    background-repeat: no-repeat; 
    width: 3m;
    height: 3em;
}
}
