    .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding: 17.43em;
    input{
      border-radius: 0.2em;
      background-color:  rgb(230, 236, 236);
      width: 15em;
      text-align: center;
    }
  }
 
  .buttonLogin{
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    border: none;
    color:  #0a0a0a;
    background-color: rgb(230, 236, 236);
    cursor: pointer;
    border-radius: 0.3em;
    &:hover{
      background-color: #0a0a0a;
      color: #3EB6C2;
    }
  }
  