.image{
    background-image: url(../../img/protection.jpg);
    height:50.7em; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}