*{
    box-sizing: border-box;
    margin:0;
    margin-bottom: 0;
    font-family:sans-serif;
    
}
.maincontainerproducts{
    background-color: blanchedalmond;
    height: 44em;
}
.rowshow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1136px;
    padding: 0 32px;
}
.menú{
    display: flex;
    list-style: none;
    line-height: 2.5em;
    padding: 0em;
    margin-left: 7em;
    font-weight: bold;
}
.infoProduct{
    display: flex;
    flex-direction: row;
    margin-left: 30em;
}
.inside{
    justify-content:space-evenly;
    text-align: center;
    display: flex;
    flex-direction: row;
    color:  #11537A;
    margin: 2em 3em 3em 2em;
  }
  .buttondelete{
    margin-top: 1.7em;
  }