*{
    box-sizing: border-box;
    margin:0;
    margin-bottom: 0;
    font-family:sans-serif;
    
}
.maincontainerproducts{
    background-color: blanchedalmond;
    height: 44em;
}
.rowshow{
    display: flex;
    justify-content:space-evenly;
    margin:0em;
    font-weight: bold;
    margin-right: 1em;
    text-decoration: underline;
}
.infoProduct{
    display: flex;
    flex-direction: row;
    margin-left: 15em;
}
.insidename{
    display: flex;
    margin-left: -9em;
}
.insidedescription{
    display: flex;
    margin-left: 16em;
}
.insideprice{
    display: flex;
    margin-left: 24em;
}
.insideimage{
    display: flex;
    margin-left: 18em;
}
.buttondelete{
    display: flex;
    margin-left:2.3em;
}
.containerproductshow{
    background-color: rgb(235, 167, 65);
    width: 88em;
    height: 45em;
    margin-left: 14em;
}
